# dependencies
/node_modules
server/node_modules
/.pnpm
/.yarn

# next.js build output
/.next/
/out/
/dist/
server/dist/

# prisma / sqlite
*.db
*.db-journal

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db
